{% extends "_layouts/auth.njk" %}

{% block body %}
  <form action="/signin" method="post">
    <img src="/images/logo.svg" height="42" />

    <input type="email" name="email" placeholder="Seu email">
    <input type="password" name="password" placeholder="Senha secreta">

    <label for="provider">
      <input type="checkbox" id="provider" name="provider" value="1">
      Sou cabeleleiro
    </label>

    <button type="submit">Entar</button>

    <a href="/signup">Criar conta grátis</a>
  </form>
{% endblock %}